<div class="Canvas_canvas__1fiR0" style="width: 291.8px; height: 291.8px; background-color: rgb(255, 255, 255);">
    <div class="Canvas_canvasClickCollector__2p1Cq"></div>
    <div class="RndWrapper_rndLayer__2hJkb RndWrapper_selectedLayer__3_bVu react-draggable react-draggable-dragged" style="position: absolute; user-select: auto; touch-action: none; width: 92.6848%; height: 24.7032%; display: inline-block; top: 0px; left: 0px; cursor: move; transform: translate(10.9px, 11.3106px); max-width: 9.0072e+15px; max-height: 9.0072e+15px; box-sizing: border-box;">
        <div class="Text_text__2Pwwm" style="text-align: center; font-family: &quot;Permanent Marker&quot;; color: rgb(255, 23, 68); font-weight: bold; text-shadow: black -1px -1px 0px, black 1px -1px 0px, black -1px 1px 0px, black 1px 1px 0px; background: rgba(0, 0, 0, 0.05);">
            <span class="textFitted" style="display: inline-block; font-size: 44px;">Sample text</span>
        </div>
        <div class="Text_editTextButton__3R_Hp">
            <span class="Text_editText__3KfER">Edit</span>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" style="vertical-align: middle;">
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
            </svg>
        </div>
        <div class="DuplicateLayer_button__X8Ykf">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" style="vertical-align: middle;">
                <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"></path>
            </svg>
        </div>
        <div class="DeleteLayer_button__3PJcL">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" style="vertical-align: middle;">
                <path d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path>
            </svg>
        </div>
        <span>
            <div style="position: absolute; user-select: none; width: 100%; height: 10px; top: -5px; left: 0px; cursor: row-resize;">
            </div>
            <div style="position: absolute; user-select: none; width: 10px; height: 100%; top: 0px; right: -5px; cursor: col-resize;"></div>
            <div style="position: absolute; user-select: none; width: 100%; height: 10px; bottom: -5px; left: 0px; cursor: row-resize;"></div>
            <div style="position: absolute; user-select: none; width: 10px; height: 100%; top: 0px; left: -5px; cursor: col-resize;"></div>
            <div class="RndWrapper_resizeHandle__3B1w7" style="position: absolute; user-select: none; width: 20px; height: 20px; left: -10px; top: -10px; cursor: nw-resize;"></div>
            <div class="RndWrapper_resizeHandle__3B1w7" style="position: absolute; user-select: none; width: 20px; height: 20px; right: -10px; top: -10px; cursor: ne-resize;"></div>
            <div class="RndWrapper_resizeHandle__3B1w7" style="position: absolute; user-select: none; width: 20px; height: 20px; left: -10px; bottom: -10px; cursor: sw-resize;"></div>
            <div class="RndWrapper_resizeHandle__3B1w7" style="position: absolute; user-select: none; width: 20px; height: 20px; right: -10px; bottom: -10px; cursor: se-resize;"></div>
        </span></div><div class="__resizable_base__" style="width: 100%; height: 100%; position: absolute; transform: scale(0, 0); left: -2.14748e+09px; flex: 0 1 0%;">
    </div>
</div>